	@model UserRegistration;

	@{
		ViewData["Title"] = "Register Page";
		Layout = "~/Views/Shared/_LayoutAuth.cshtml";
	}
	<style>
		input{
			font-size:20px;
			padding: 10px;
			border-color:transparent transparent dodgerblue transparent;
			margin-top:30px;
			outline:none;
			width:100%;
		}
	</style>
	<form asp-action="Register" method="post" style="width:100%">
		<h1 style="font-family:'Agency FB';font-weight:600">Register the Customer</h1>
		<input asp-for="Email" placeholder="Enter Email" autofocus type="email" value="" />
		<span asp-validation-for="Email" style="color:red"></span>
		<input asp-for="Password" placeholder="Enter password" type="password"  value="" />
		<span asp-validation-for="Password" style="color:red"></span>
		<input asp-for="RetypePassword" placeholder="Retype password" type="password" value="" />
		<span asp-validation-for="RetypePassword" style="color:red"></span>
		<div style="width:100%;margin-left:12px">
			<button style="width:inherit;margin-top:40px;background-color:dodgerblue;
			font-size:30px;padding:10px 20px;color:white; border:none; border-radius:5px;
			justify-self:center;cursor:pointer;width:100%" >Submit</button>
		</div>
		<div style="display:flex;justify-content:space-between;font-size:15px;font-weight:600;color:forestgreen;margin-top:20px">
			<a asp-action="Index" asp-controller="home" style="text-decoration:none" style="margin-left:20px"><span>HomePage</span></a>
			<a asp-action="Login" style="text-decoration:none"><span>Login</span></a>
		</div>
	</form>